$pcolor: #13875e;
$picture-background: #d4d4d4;
$p-wieght: 500;

@media screen and (max-width: 1250px) {
  //////////////////////////////////////////////1250px
  main {
    .hero {
      .hero-text {
        .logo {
          margin-bottom: 15rem;
        }
      }
    }
    // .section-two {
    //   .product-container {
    //     .box {
    //       width: 350px;
    //     }
    //   }
    // }
  }
}
@media screen and (max-width: 1024px) {
  //////////////////////////////////////////////1024px
  main {
    .hero {
      .hero-text {
        .logo {
          margin-bottom: 10rem;
        }
      }
    }
    // .section-two {
    //   .product-container {
    //     .box {
    //       width: 300px;
    //     }
    //   }
    // }
    .section-two {
      .product-container {
        .box {
          width: 30%;
        }
      }
    }
  }
}
@media screen and (max-width: 880px) {
  //////////////////////////////////////////////880px
  main .hero .hero-text .logo {
    margin-bottom: 5rem;
  }
  main {
    .section-two {
      .product-container {
        .box {
          width: 48%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  //////////////////////////////////////////////7680px
  main .hero .hero-text .logo {
    margin-bottom: 3rem;
  }
  nav .logo .first-links,
  nav .second-links {
    display: none;
  }
  nav {
    margin: 10px auto;
    .logo {
      margin: 0;
      width: auto;
    }
    .nav-bar {
      display: block;
      font-size: 20px;
      z-index: 10;
      cursor: pointer;
      .fa-times {
        display: none;
      }
    }
    .nav-bar.nav-bar-active {
      display: block;
      font-size: 20px;
      z-index: 10;
      cursor: pointer;
      .fa-bars {
        display: none;
      }
      .fa-times {
        display: block;
      }
    }
    .query.query-active {
      display: flex;
      position: fixed;
      top: -1.5%;
      left: 50%;
      transform: translate(-50%, -1.5%);
      margin-top: 10px;
      width: 100%;
      height: 96vh;
      background-color: rgb(255, 255, 255);
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      a::after {
        content: none;
      }
    }
    .query {
      display: none;
    }
  }
  main {
    .section-two {
      .product-container {
        .box {
          width: 45%;
        }
      }
    }
    footer {
      .box-container {
        .box:nth-child(1) {
          width: 100%;
          word-break: break-all;
        }
        .box {
          width: 100%;
          word-break: break-all;
          margin-bottom: 1rem;
          .footer-text-about {
            display: none;
          }
          .footer-text-about.show-text {
            display: block;
          }
          .footer-text-address {
            display: none;
          }
          .footer-text-address.show-text {
            display: block;
          }
          .footer-text-address {
            display: none;
          }
          .footer-text-address.show-text {
            display: block;
          }
          .footer-text-contact {
            display: none;
          }
          .footer-text-contact.show-text {
            display: block;
          }
          .footer-text-info {
            display: none;
          }
          .footer-text-info.show-text {
            display: block;
          }
          .footer-text-follow {
            display: none;
          }
          .footer-text-follow.show-text {
            display: block;
          }
          .title-container:hover {
            background-color: rgba(218, 218, 218, 0.377);
          }
          .text-container {
            padding: 0 5px;
          }
          .title-container {
            border-bottom: 1px solid rgba(0, 0, 0, 0.274);
            cursor: pointer;
            padding: 0 5px;
            .cross {
              position: relative;
              padding: 1rem;
              display: block;
              .vert {
                position: absolute;
                width: 10px;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-about {
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-about.hor-hide-about {
                opacity: 0;
              }
              .hor-address {
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-address.hor-hide-address {
                opacity: 0;
              }
              .hor-contact {
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-contact.hor-hide-contact {
                opacity: 0;
              }
              .hor-info {
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-info.hor-hide-info {
                opacity: 0;
              }
              .hor-follow {
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: rgba(0, 0, 0, 0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .hor-follow.hor-hide-follow {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
  // footer{
  //   .box-container
  // }
}
@media screen and (max-width: 720px) {
  //////////////////////////////////////////////720px
  main .hero {
    padding: 0;
  }
  nav {
    z-index: 100000;
    background-color: white;
  }
  main .hero {
    z-index: -10;
    flex-direction: column;
    .img-container {
      width: 100vw;
    }
    .hero-text {
      width: 100vw;
      margin: 0;
      padding-bottom: 0;
      .logo {
        background-color: white;
        border-radius: 5px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 350px;
        padding: 1rem;
        h1 {
          text-align: center;
        }
        a {
          text-align: center;
          color: $pcolor;
        }
      }
      #sub-hero {
        display: flex;
        align-items: center;
        // position: relative;
        // z-index: -11;
        margin-top: -5px;
        .img-container {
          width: 50%;
          margin-right: 1rem;
        }
        .text-container {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  main {
    .section-one {
      width: 95%;
      margin: 2rem auto;
      .box-one {
        flex-direction: column;
        width: 100%;
        .img-container {
          width: 100%;
          img {
            height: 800px;
          }
        }
        .text-container {
          width: 100%;
        }
      }
      .box-two,
      .box-three {
        width: 50%;
        flex-direction: column;
        margin-bottom: 1rem;
        .img-container {
          width: 97%;
        }
        img {
          height: 500px;
        }
        .text-container {
          width: 100%;
        }
      }
      .box:not(:first-child) {
        margin-bottom: 0;
      }
    }
    .section-two {
      .product-container {
        .box {
          width: 48%;
        }
      }
    }
    .section-three {
      .box-container {
        .box {
          width: 100%;
        }
        .box:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 560px) {
  //////////////////////////////////////////////560px
  main .hero .hero-text .logo {
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
  }
}
@media screen and (max-width: 520px) {
  //////////////////////////////////////////////520px
  main .hero .hero-text #sub-hero {
    flex-direction: column;
    .img-container {
      width: 100vw;
      margin: 0;
      img {
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  //////////////////////////////////////////////425px
  main .hero .hero-text .logo {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
  }
  nav {
    width: 95%;
  }
  main .section-one {
    .box:not(:first-child) {
      width: 100%;
      .img-container {
        width: 100%;
      }
    }
    .box:nth-child(2) {
      margin-bottom: 1rem;
    }
  }
  main {
    .section-two {
      .product-container {
        .box {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  //////////////////////////////////////////////375px
  main .hero .hero-text .logo {
    top: 4%;
    left: 50%;
    transform: translate(-50%, -4%);
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  //////////////////////////////////////////////320px
  main .hero .hero-text .logo {
    width: 280px;
  }
  main .hero .hero-text .logo {
    top: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
  }
}
@media screen and (max-width: 280px) {
  main .hero .hero-text .logo {
    width: 250px;
  }
}
