@media screen and (max-width: 1250px) {
  main .hero .hero-text .logo {
    margin-bottom: 15rem;
  }
}

@media screen and (max-width: 1024px) {
  main .hero .hero-text .logo {
    margin-bottom: 10rem;
  }
  main .section-two .product-container .box {
    width: 30%;
  }
}

@media screen and (max-width: 880px) {
  main .hero .hero-text .logo {
    margin-bottom: 5rem;
  }
  main .section-two .product-container .box {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  main .hero .hero-text .logo {
    margin-bottom: 3rem;
  }
  nav .logo .first-links,
  nav .second-links {
    display: none;
  }
  nav {
    margin: 10px auto;
  }
  nav .logo {
    margin: 0;
    width: auto;
  }
  nav .nav-bar {
    display: block;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
  }
  nav .nav-bar .fa-times {
    display: none;
  }
  nav .nav-bar.nav-bar-active {
    display: block;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
  }
  nav .nav-bar.nav-bar-active .fa-bars {
    display: none;
  }
  nav .nav-bar.nav-bar-active .fa-times {
    display: block;
  }
  nav .query.query-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: -1.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -1.5%);
            transform: translate(-50%, -1.5%);
    margin-top: 10px;
    width: 100%;
    height: 96vh;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav .query.query-active a::after {
    content: none;
  }
  nav .query {
    display: none;
  }
  main .section-two .product-container .box {
    width: 45%;
  }
  main footer .box-container .box:nth-child(1) {
    width: 100%;
    word-break: break-all;
  }
  main footer .box-container .box {
    width: 100%;
    word-break: break-all;
    margin-bottom: 1rem;
  }
  main footer .box-container .box .footer-text-about {
    display: none;
  }
  main footer .box-container .box .footer-text-about.show-text {
    display: block;
  }
  main footer .box-container .box .footer-text-address {
    display: none;
  }
  main footer .box-container .box .footer-text-address.show-text {
    display: block;
  }
  main footer .box-container .box .footer-text-address {
    display: none;
  }
  main footer .box-container .box .footer-text-address.show-text {
    display: block;
  }
  main footer .box-container .box .footer-text-contact {
    display: none;
  }
  main footer .box-container .box .footer-text-contact.show-text {
    display: block;
  }
  main footer .box-container .box .footer-text-info {
    display: none;
  }
  main footer .box-container .box .footer-text-info.show-text {
    display: block;
  }
  main footer .box-container .box .footer-text-follow {
    display: none;
  }
  main footer .box-container .box .footer-text-follow.show-text {
    display: block;
  }
  main footer .box-container .box .title-container:hover {
    background-color: rgba(218, 218, 218, 0.377);
  }
  main footer .box-container .box .text-container {
    padding: 0 5px;
  }
  main footer .box-container .box .title-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    cursor: pointer;
    padding: 0 5px;
  }
  main footer .box-container .box .title-container .cross {
    position: relative;
    padding: 1rem;
    display: block;
  }
  main footer .box-container .box .title-container .cross .vert {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-about {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-about.hor-hide-about {
    opacity: 0;
  }
  main footer .box-container .box .title-container .cross .hor-address {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-address.hor-hide-address {
    opacity: 0;
  }
  main footer .box-container .box .title-container .cross .hor-contact {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-contact.hor-hide-contact {
    opacity: 0;
  }
  main footer .box-container .box .title-container .cross .hor-info {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-info.hor-hide-info {
    opacity: 0;
  }
  main footer .box-container .box .title-container .cross .hor-follow {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  main footer .box-container .box .title-container .cross .hor-follow.hor-hide-follow {
    opacity: 0;
  }
}

@media screen and (max-width: 720px) {
  main .hero {
    padding: 0;
  }
  nav {
    z-index: 100000;
    background-color: white;
  }
  main .hero {
    z-index: -10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hero .img-container {
    width: 100vw;
  }
  main .hero .hero-text {
    width: 100vw;
    margin: 0;
    padding-bottom: 0;
  }
  main .hero .hero-text .logo {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
    width: 350px;
    padding: 1rem;
  }
  main .hero .hero-text .logo h1 {
    text-align: center;
  }
  main .hero .hero-text .logo a {
    text-align: center;
    color: #13875e;
  }
  main .hero .hero-text #sub-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5px;
  }
  main .hero .hero-text #sub-hero .img-container {
    width: 50%;
    margin-right: 1rem;
  }
  main .hero .hero-text #sub-hero .text-container {
    width: 100%;
    text-align: center;
  }
  main .section-one {
    width: 95%;
    margin: 2rem auto;
  }
  main .section-one .box-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .section-one .box-one .img-container {
    width: 100%;
  }
  main .section-one .box-one .img-container img {
    height: 800px;
  }
  main .section-one .box-one .text-container {
    width: 100%;
  }
  main .section-one .box-two,
  main .section-one .box-three {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  main .section-one .box-two .img-container,
  main .section-one .box-three .img-container {
    width: 97%;
  }
  main .section-one .box-two img,
  main .section-one .box-three img {
    height: 500px;
  }
  main .section-one .box-two .text-container,
  main .section-one .box-three .text-container {
    width: 100%;
  }
  main .section-one .box:not(:first-child) {
    margin-bottom: 0;
  }
  main .section-two .product-container .box {
    width: 48%;
  }
  main .section-three .box-container .box {
    width: 100%;
  }
  main .section-three .box-container .box:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 560px) {
  main .hero .hero-text .logo {
    top: 8%;
    left: 50%;
    -webkit-transform: translate(-50%, -8%);
            transform: translate(-50%, -8%);
  }
}

@media screen and (max-width: 520px) {
  main .hero .hero-text #sub-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hero .hero-text #sub-hero .img-container {
    width: 100vw;
    margin: 0;
  }
  main .hero .hero-text #sub-hero .img-container img {
    height: 300px;
  }
}

@media screen and (max-width: 425px) {
  main .hero .hero-text .logo {
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
  }
  nav {
    width: 95%;
  }
  main .section-one .box:not(:first-child) {
    width: 100%;
  }
  main .section-one .box:not(:first-child) .img-container {
    width: 100%;
  }
  main .section-one .box:nth-child(2) {
    margin-bottom: 1rem;
  }
  main .section-two .product-container .box {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  main .hero .hero-text .logo {
    top: 4%;
    left: 50%;
    -webkit-transform: translate(-50%, -4%);
            transform: translate(-50%, -4%);
    width: 280px;
  }
  main footer .footer-message {
    width: 90%;
    margin: auto;
  }
  main footer .footer-message h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 0.3rem;
  }
  main footer .footer-message input {
    width: 85%;
    text-align: center;
  }
  main footer .footer-message form {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 320px) {
  main .hero .hero-text .logo {
    width: 280px;
  }
  main .hero .hero-text .logo {
    top: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, -3%);
            transform: translate(-50%, -3%);
  }
}

@media screen and (max-width: 280px) {
  main .hero .hero-text .logo {
    width: 250px;
  }
}
/*# sourceMappingURL=query.css.map */